# Jupyter / Google Colab temporary folders
.ipynb_checkpoints/

# Python cache folders
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv - copia/
.venv/

# Operating system files
.DS_Store
Thumbs.db

# Data files (optional, if each person should download them locally in Colab)
# *.csv
# *.zip
